.teste {
    background-color: red;
}

.add_project_server {
    display: flex;
    width: 389px;
    height: 258px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-left: 32px;
    border-radius: 4px;
    background: #a3a3a5;
  }