*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul and ol elements with a list role, but only if they don't have a class */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Reset font styles */
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.6;
}

/* Remove border on tables by default */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Standardize focus style */
a:focus,
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* Reset miscellaneous styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 100%) {
  /* Add your responsive styles here */
}
